<div class="introduction-screen">
    <div class="menu-column left-column">
        <div class="character-select" data-character="curly"><img src="assets/images/avatar/avatar_1.png" alt="Curly Hair Character"></div>
        <div class="character-select" data-character="short"><img src="assets/images/avatar/avatar_2.png" alt="Short Hair Character"></div>
        <div class="character-select" data-character="blonde"><img src="assets/images/avatar/avatar_3.png" alt="Blonde Character"></div>
    </div>

    <div class="menu-column center-column">
        <div class="introduction-main-content">
            <video id="intro-video" src="assets/videos/3163534-uhd_3840_2160_30fps.mp4" loop muted playsinline></video> <!-- Video introduction ở đây -->
        </div>
        
        <div class="vicky-chat-box">
            <img src="assets/images/Vicky/NPC_Vicky_1.png" alt="Vicky NPC" class="vicky-npc-image">
            <div class="chat-bubble">
                <p>Hey hey! I’m Vicky Vic - your Fabulous Fashion BFF!</p>
            </div>
        </div>
    </div>

    <div class="menu-column right-column">
        <div class="side-menu-item active" data-target="introduction"><img src="assets/images/Card/introduction.png" alt="Introduction"></div>
        <div class="side-menu-item" data-target="dressing_game"><img src="assets/images/Card/DressingGame.png" alt="Dressing Game"></div>
        <div class="side-menu-item" data-target="photo_booth"><img src="assets/images/Card/PhotoBooth.png" alt="Photo Booth"></div>
    </div>

    <div class="bottom-toolbar">
        <button class="action-button home-button"><img src="assets/images/button/Btn Home.png" alt="Home"></button>
        <button class="action-button music-button"><img src="assets/images/button/Btn music.png" alt="Music"></button>
    </div>
</div>