<link rel="stylesheet" href="css/menu.css">
<div class="menu-screen">

    <div class="menu-column left-column">
        <div class="character-select" data-character="curly">
            <img src="assets/images/avatar/avatar_1.png" alt="Curly Hair Character">
        </div>
        <div class="character-select" data-character="short">
            <img src="assets/images/avatar/avatar_2.png" alt="Short Hair Character">
        </div>
        <div class="character-select" data-character="blonde">
            <img src="assets/images/avatar/avatar_3.png" alt="Blonde Character">
        </div>
    </div>

    <div class="menu-column center-column">

        <div class="vicky-menu-title">
            <img src="assets/images/menu.png" alt="Vicky Menu"> 
        </div>

        <div class="card-slider-container">
            <div class="menu-item" data-target="dressing_game">
                <img src="assets/images/Card/DressingGame.png" alt="Dressing Game">
            </div>
            
            <div class="menu-item active" data-target="introduction">
                <img src="assets/images/Card/introduction.png" alt="Introduction">
            </div>
            
            <div class="menu-item" data-target="photo_booth">
                <img src="assets/images/Card/PhotoBooth.png" alt="Photo Booth">
            </div>
        </div>

    </div>

    <div class="menu-column right-column">
        <img src="assets/images/Card/phone.png" alt="Decoration" class="deco-phone-img">
    </div>

</div>