<link rel="stylesheet" href="css/photoBooth.css">
<div class="photobooth-screen">
    <div class="menu-column left-column">
        <div class="character-select" data-character="curly"><img src="assets/images/avatar/avatar_1.png" alt="Curly Hair Character"></div>
        <div class="character-select" data-character="short"><img src="assets/images/avatar/avatar_2.png" alt="Short Hair Character"></div>
        <div class="character-select" data-character="blonde"><img src="assets/images/avatar/avatar_3.png" alt="Blonde Character"></div>
    </div>

    <div class="menu-column center-column">
        <div class="photobooth-main-content">
            <div class="photo-area">
                <div class="photo-frame">
                    <div class="canvas-wrapper">
                        <video id="webcam-feed" autoplay playsinline muted></video>
                        
                        <canvas id="photo-canvas"></canvas> 
                    </div>

                    <button id="shutter-btn" class="shutter-btn">
                        <img src="assets/images/button/Btn_photo.png" alt="Take Photo">
                    </button>
                </div>
                <button class="download-btn" type="button">
                    <img src="assets/images/button/download_btn.png" alt="Download Button">
                </button>
            </div>

            <div class="sticker-area">
                <div class="sticker-tabs">
                    <img class="sticker-tab-img" src="assets/images/button/btnSticker.png" alt="Stickers Tab" data-sticker-category="stickers">
                    <img class="sticker-tab-img" src="assets/images/button/btnAccesoriesSticker.png" alt="Accessories Tab" data-sticker-category="accessories">
                    <img class="sticker-tab-img" src="assets/images/button/btnLight.png" alt="Lights Tab" data-sticker-category="lights">
                    <img class="sticker-tab-img" src="assets/images/button/btnType.png" alt="Signs Tab" data-sticker-category="signs">
                </div>
                <div class="sticker-panel">
                    <div class="sticker-grid">
                        </div>
                </div>
            </div>
        </div>
        
        <div class="vicky-chat-box">
            <img src="assets/images/Vicky/NPC_Vicky_2.png" alt="Vicky NPC" class="vicky-npc-image">
            <div class="chat-bubble">
                <p>Let's take a picture! Drag and drop stickers to decorate your photo, then click the download button to save it!</p>
            </div>
        </div>
    </div>

    <div class="menu-column right-column">
        <div class="side-menu-item" data-target="introduction"><img src="assets/images/Card/introduction.png" alt="Introduction"></div>
        <div class="side-menu-item" data-target="dressing_game"><img src="assets/images/Card/DressingGame.png" alt="Dressing Game"></div>
        <div class="side-menu-item active" data-target="photo_booth"><img src="assets/images/Card/PhotoBooth.png" alt="Photo Booth"></div>
    </div>

    <div class="bottom-toolbar">
        <button class="action-button home-button"><img src="assets/images/button/Btn Home.png" alt="Home"></button>
        <button class="action-button music-button"><img src="assets/images/button/Btn music.png" alt="Music"></button>
    </div>
</div>